:root {
    --red: #E6563B;
    --orange: #EB9D3A;
    --green: #7CB06C;
    --blue: #00ABA9;
    --white: #F0F0F0;
    --gray: #E6E6E6;
}

body{
    background-color: var(--white);
    font-family: 'Abel', sans-serif;
    font-size: 1.4em;

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Anton', sans-serif;
}

.nothing {
    margin: 0;
    padding: 0;
}

.heavy-dark {
    color: black;
    font-weight: bolder;
}

.bg-red {
    background-color: var(--red);
}

.bg-orange {
    background-color: var(--orange);
}

.bg-green {
    background-color: var(--green);
}

.bg-blue {
    background-color: var(--blue);
}

.bg-white {
    background-color: var(--white);
}

.bg-gray {
    background-color: var(--gray);
}

.font-abel {
    font-family: 'Abel', sans-serif;
}

.font-anton {
    font-family: 'Anton', sans-serif;
}

.logo-size {
    width: 105px;
    height: 105px;
}

.border-gray {
    border: 9px solid var(--gray);
}

.btn-circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 5px solid white;
}

.btn-circle-small{
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    color: white;
}



/*MEDIA QUERY SIZES */
@media screen and (min-width: 576px) {

}

@media screen and (min-width: 768px) {
    body{
        font-size: 1.2em;
    }

    .logo-size {
        width: 90px;
        height: 90px;
    }

}

@media screen and (min-width: 992px) {
    body{
        font-size: 1.1em;
    }

    .logo-size {
        width: 80px;
        height: 80px;
    }
}

@media screen and (min-width: 1200px) {
    body{
        font-size: 1em;
    }

    .logo-size {
        width: 70px;
        height: 70px;
    }
}

@media screen and (min-width: 1400px) {
    body{
        font-size: .9em;
    }

    .logo-size {
        width: 60px;
        height: 60px;
    }

}





